<header class="header-logo-panel container padding-top-1p5em">
	<div class="row">
	    <div class="col-xs-12 mb1em no-padding">
	        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
	            <a class="brand"><img ng-src="assets/images/cigna/header-icon.png" alt="" width="125"></a>
	        </div>

	        <div class="col-lg-6 col-md-4 col-sm-5 pull-right hidden-xs">
	        	<h3 class="pull-right no-margins ">
	            <div class="mtp5em bold">Call us on 1234 5678 900</div>
	            <div class="bold">QUOTING: abc123 </div>
	          </h3>
	        </div>
	    </div>
	</div>
</header>