<link media="screen" type="text/css" rel="stylesheet" href="styles/cigna/cigna.css">

<ng-include src="'partials/header-logo-panel.html'" ></ng-include>

<section class="container">

    <div class="hidden-xs">
        <ol class="breadcrumb content-head ov-h">
            <li id="travellers-details" class="col-xs-6 active">
                <span class="icon-holder"><i class="fa fa-user"></i></span>
                <span class="text-center col-xs-12">TRAVELLER DETAILS</span>
            </li>
 
            <li id="confirm-and-pay" class="col-xs-6">
                <span class="icon-holder"><i class="fa fa-credit-card"></i></span>
                <span class="text-center col-xs-12">CONFIRM &amp; PAY</span>
            </li>
        </ol>
    </div>

    <div class="row">
        
        <div class="col-md-7">

            <article class="main">

                <form name="form" ng-submit="submitted(form) && form.$valid && submit()" class="form transparent-background" novalidate>
                    <section class="travellers">
                        <header class="section-header">
                            <div class="well well-sm pull-left">
                                <div class="header-icon pull-left hidden-xs">
                                    <i class="fa fa-user"></i>
                                </div>
                                <h4>{{viewName}}</h4>
                                <div class="note pull-right hidden-xs">
                                    * All fields marked are mandatory
                                </div>
                                <div class="note visible-xs">
                                    <p>
                                        Please provide the names of persons to be insured.
                                    </p>
                                    <div>
                                        * All fields marked are mandatory    
                                    </div>
                                </div>
                            </div>
                        </header>

                        <p class="hidden-xs">
                            Please provide the names of persons to be insured.
                        </p>

                        <ng-include src="'partials/person-details.html'"> </ng-include>
                        
                    </section>

                    <section class="contact-details">
                        <header class="section-header">
                            <div class="well well-sm pull-left">
                                <div class="header-icon pull-left hidden-xs">
                                    <i class="fa fa-user"></i>
                                </div>
                                <h4>Contact Details</h4>
                            </div>
                        </header>

                        <div class="row">
                            <div class="form-group col-xs-12 col-sm-4">
                                <label for="postcode">Postcode</label>
                                <input type="text" name="findaddress" id="postcode" class="form-control" 
                                    ng-model="userData.selection.findaddress"
                                    ng-pattern="/^(?!JE|GY|IM)([A-z]{1,2}[0-9][0-9A-z]?\s?[0-9][A-z]{2})/i"
                                    maxlength="8">
                                <div class="error" ng-show="form.findaddress.$invalid">
                                    Please enter a valid UK postcode
                                </div>
                            </div>

                            
                            <div class="form-group col-xs-12 col-sm-4 no-min-height">
                                <label for="" class="normal-cursor hidden-xs">&nbsp;</label>
                                <a ng-click="getFilteredAddress()" class="btn btn-primary form-control" 
                                    ng-disabled="form.findaddress.$pristine || form.findaddress.$invalid">
                                    Find Address
                                </a>
                            </div>
                            <div class="form-group col-xs-12 col-sm-4 no-min-height">
                                <label for="" class="normal-cursor hidden-xs">&nbsp;</label>
                                <a ng-click="manualAddressEntry = true" class="form-control btn btn-primary">Enter address manually</a>
                            </div>
                        </div> <!-- /.row -->

                        <div class="row" ng-show="addressNotFound">
                            <div class="col-xs-12 no-min-height">
                                <div class="well well-sm">
                                    <p class="warning">
                                        Thank you for your enquiry, unfortunately no matching address was found.  Please enter a valid UK postcode
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="row" ng-show="isAddressSelectorVisible">
                            <div class="form-group col-xs-12 no-min-height">
                                <label for="addressList">Select address from list</label>
                                <select name="addressList" id="addressList" class="form-control" 
                                    ng-model="userData.selection.address" 
                                    ng-options="(address.address_line1 + ', ' + address.address_line2) for address in addressList">
                                    <option value="">Select one</option>
                                </select>
                            </div>
                        </div>

                        <div id="address-details" ng-show="userData.selection.address || manualAddressEntry">
                            
                            <div class="row">
                                <div class="form-group col-xs-12 col-sm-6">
                                    <label for="address_line1"><span class="primary">* </span> Address line 1</label>
                                    <input type="text" name="address_line1" id="address_line1" class="form-control"
                                        ng-model="userData.selection.address.address_line1"
                                        maxlength="30" required>
                                    <div class="error" ng-show="form.submitted && form.address_line1.$invalid">
                                        Please enter your address
                                    </div>
                                </div>
                                
                                <div class="form-group col-xs-12 col-sm-6 no-min-height">
                                    <label for="address_line2">Address line 2</label>
                                    <input type="text" name="address_line2" id="address_line2" class="form-control"
                                        ng-model="userData.selection.address.address_line2"
                                        maxlength="30">
                                </div>
                                
                            </div> <!-- /.row -->

                            <div class="row">
                                <div class="form-group col-xs-12 col-sm-6">
                                    <label for="town"><span class="primary">* </span> Town</label>
                                    <input type="text" name="town" id="town" class="form-control"
                                        ng-model="userData.selection.address.town"
                                        maxlength="30" required>
                                    <div class="error" ng-show="form.submitted && form.town.$invalid">
                                        Please enter your Town/City name
                                    </div>
                                </div>

                                <div class="form-group col-xs-12 col-sm-6">
                                    <label for="postcode"><span class="primary">* </span> Postcode</label>
                                    <input type="text" name="postcode" id="postcode" class="form-control"
                                        ng-model="userData.selection.address.postcode"
                                        ng-pattern="/^(?!JE|GY|IM)([A-z]{1,2}[0-9][0-9A-z]?\s?[0-9][A-z]{2})/i"
                                        maxlength="8" required>
                                    <div class="error" ng-show="form.submitted && form.postcode.$invalid">
                                        Please enter your Postcode
                                    </div>
                                </div>
                            </div> <!-- /.row -->

                        </div> <!-- /#address-details -->

                        <div class="row">
                            <div class="form-group col-xs-12 col-sm-6">
                                <label for="mobile">
                                    <span class="primary" ng-show="!userData.selection.landline">* </span> 
                                    Mobile Number <span class="no-bold italic">(no spaces)</span>
                                </label>
                                <input type="tel" name="mobile" id="mobile" class="form-control" maxlength="13"
                                    ng-model="userData.selection.mobile"
                                    ng-pattern="/^(07[0-9]{9})$|^(\+447[0-9]{9})$/"
                                    ng-required="!userData.selection.landline">
                                <div class="error" ng-show="form.submitted && form.mobile.$invalid">
                                    Please enter a valid Mobile Phone Number
                                </div>
                            </div>

                            <div class="form-group col-xs-12 col-sm-6">
                                <label for="landline"><span class="primary" ng-show="!userData.selection.mobile">* </span> 
                                    Landline <span class="no-bold italic">(no spaces)</span>
                                </label>
                                <input type="tel" name="landline" id="landline" class="form-control" maxlength="13"
                                    ng-model="userData.selection.landline"
                                    ng-pattern="/^(0[0-9]{10})$|^(\+44[0-9]{10})$/"
                                    ng-required="!userData.selection.mobile">
                                <div class="error" ng-show="form.submitted && form.landline.$invalid">
                                    Please enter a valid Phone Number
                                </div>
                            </div>
                        </div> <!-- /.row -->

                        <div class="row">
                            <div class="form-group col-xs-12 col-sm-6">
                                <label for="email"><span class="primary">* </span> Email Address</label>
                                <input type="email" name="email" id="email" class="form-control"
                                    ng-model="userData.selection.email"
                                    ng-pattern='/^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/'
                                    required>
                                <div class="error" ng-show="form.submitted && form.email.$invalid">
                                    Please enter a valid email address
                                </div>
                            </div>

                            <div class="form-group col-xs-12 col-sm-6">
                                <label for="confirmEmail"><span class="primary">* </span> Email Address Confirmation</label>
                                <input type="email" name="confirmEmail" id="confirmEmail" class="form-control"
                                    ng-model="userData.selection.confirmEmail" ci-match="email" required>
                                <div class="error" ng-show="form.confirmEmail.$error.match || (form.submitted && form.confirmEmail.$invalid)">
                                    Please confirm your email by re-entering your email address
                                </div>
                            </div>
                        </div> <!-- /.row -->

                        <div class="row">
                            <div class="col-xs-12" ng-class="{ 'telesales': telesalesMode }">
                                <div class="read note" ng-class="{ 'well well-sm': !telesalesMode }">
                                    If you provide your mobile number, we will text you your policy reference and an emergency assistance number for free.
                                </div>
                            </div>
                        </div>

                        <div class="row mt2em">
                            <div class="col-xs-12 col-sm-4 pull-right">
                                <a class="form-control btn btn-primary uppercase">Continue</a>
                            </div>
                        </div>

                        <div class="well well-sm mt3em cards-strip hidden-xs">
                            <span>WE ACCEPT ALL MAJOR CARDS</span>
                            <div class="cards-pic"></div>
                        </div>

                        <div class="well well-sm mt3em visible-xs ov-h">
                            <div>WE ACCEPT ALL MAJOR CARDS</div>
                            <div><img src="assets/images/cigna/cards-strip.png"></div>
                        </div>
                        
                    </section>

                </form>
            </article> <!-- /.main -->
        </div>

        <aside class="sidebar hidden-sm hidden-xs">
            <div class="col-md-5">
                
                <ng-include src="'partials/sidebar-summary-panel.html'"></ng-include>

                <div class="row mt3em" ng-include="'partials/key-features.html'"> </div>

                <div class="row" ng-include="'partials/why-cigna.html'"> </div>

            </div>
        </aside> <!-- /.sidebar -->
    </div> <!-- /.row -->

</section>