<div class="wrapper">
  
  <header>

    <h1>Minima</h1>
    <h5>Refined simplicity</h5>
    
    <nav>
      <ul>
        <li><a>Home</a></li>
        <li><a>Portfolio</a></li>
        <li><a>Blog</a></li>
        <li><a>About</a></li>
        <li><a>Contact</a></li>
      </ul>
    </nav>
    
  </header>

  <section class="hero-unit">
  
    <div class="slider">
      <div class="nav prev"><a>Previous</a></div>
      <div class="nav next"><a>Next</a></div>
      <div class="viewport">
        <ul>
          <li><img src="/assets/images/minima/slider_image1.jpg"></li>
        </ul>
      </div> <!-- view port -->
    </div> <!-- slider -->

    <h2>Looking for rockstar front-end developers?</h2>
    <h3>Look no further... we are here to help!</h3>
    
  </section> <!-- hero -->

  <section class="latest-projects">
    <header> Latest projects </header>
    <ul class="pic-gallery clear">
      <li id="pix-web">
        <img src="/assets/images/minima/pix-web.jpg" alt="">
        <div class="name">PIX Web Design</div>
        <div class="type">Graphic Design</div>
      </li>

      <li id="plugin-planet">
        <img src="/assets/images/minima/plugin-planet.jpg" alt="">
        <div class="name">Plugin Planet - WordPress</div>
        <div class="type">Print Design</div>
      </li>

      <li id="fresh-app">
        <img src="/assets/images/minima/fresh-app.jpg" alt="">
        <div class="name">Fresh Application</div>
        <div class="type">WordPress Theme</div>
      </li>

      <li id="iphone-mail">
        <img src="/assets/images/minima/iphone-mail.jpg" alt="">
        <div class="name">iPhone Mail App</div>
        <div class="type">Branding</div>
        
      </li>
    </ul>
  </section> <!-- latest projects -->

  <section class="how-can-we-help">
    <header> How can we help you? </header>

    <article>
      <header> <i class="fa fa-wrench"></i> 
        Web design
      </header>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore, rem, pariatur, corporis ut totam ipsam sunt dolores tempore neque quis nesciunt deserunt minus illum necessitatibus commodi eius non! Saepe, sunt?
      </p>
    </article>

    <article>
      <header> <i class="fa fa-facebook"></i>
        Facebook pages
      </header>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, vitae, commodi, doloremque maxime mollitia vero asperiores explicabo reiciendis magnam eaque laborum quod. Sit, harum, veritatis vero deserunt odit voluptas pariatur.
      </p>
    </article>

    <article>
      <header> <i class="fa fa-thumbs-up"></i>
        Social media
      </header>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque, repudiandae, mollitia dolorem repellat blanditiis corrupti delectus neque nemo porro quo dolor odit molestias numquam quas asperiores consectetur iusto voluptatum est.
      </p>
    </article>

    <article>
      <header> <i class="fa fa-user"></i>
        Branding
      </header>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi, autem ipsum aperiam doloribus laborum iusto in voluptatibus qui. Enim, tempore excepturi animi nam ipsum praesentium! Tempore illo consequuntur aliquid modi.
      </p>
    </article>

    <article>
      <header> <i class="fa fa-picture-o"></i>
        Print design
      </header>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et, corporis officiis nisi distinctio dolor magni praesentium quia sequi ut laborum! Eum, adipisci consequatur et itaque veniam hic voluptate animi iste.
      </p>
    </article>

    <article>
      <header> <i class="fa fa-cogs"></i>
        Search engine optimization
      </header>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem ullam nemo voluptas eum asperiores cupiditate ratione quisquam eius alias veritatis? Amet laborum omnis magnam libero est. Ea dolor qui voluptatum.
      </p>
    </article>

  </section> <!-- how can we help -->

  <footer>

    <div class="wrapper">
      <section id="contact">
        <header>Contact us</header>
        <i class="fa fa-home left"></i>
        <div class="address left">
          500 Main Street<br/>
          Toronto, Ontario<br/>
          L3R 1L5, Canada
        </div>

        <i class="fa fa-phone left clear"></i>
        <div class="left">
          (415) 431-4435
        </div>

        <i class="fa fa-envelope-alt left clear"></i>
        <div class="left">
          <a>contact@designfirst.com</a>
        </div>

        <div class="social left clear">
        <ul>
          <li class="fb">facebook</li>
          <li class="dribbble">dribbble</li>
          <li class="twitter">twitter</li>
          <li class="rss">RSS</li>
        </ul>
      </div>
      </section>

      <section id="twitter">
        <header>Latest Tweets</header>
        <ul>
          <li>
            <i class="fa fa-twitter left"></i>
            <div class="left">
              <span class="author">Confucius:</span>
              <span class="quote">
                Life is really simple, but we insist on making it complicated
              </span>
              <span class="by">#famousquotes</span>
              <span class="when">8 min ago</span>
            </div>
          </li>
          <li>
            <i class="fa fa-twitter left"></i>
            <div class="left">
              <span class="author">Bruce Lee:</span>
              <span class="quote">
                If you love life, then don't waste time, for time is what life is made up of
              </span>
              <span class="by">#famousquotes</span>
              <span class="when">2 days ago</span>
            </div>
          </li>
        </ul>
      </section>

      <section id="posts">
        <header>Latest posts</header>
        <ul>
          <li>
            <i class="fa fa-pencil left"></i>
            <div class="left">Starting a new journey together</div>
            
          </li>

          <li>
            <i class="fa fa-pencil left"></i>
            <div class="left">The life of a Web developer</div>
          </li>

          <li>
            <i class="fa fa-pencil left"></i>
            <div class="left">Your guide to navigating around Wordpress</div>
          </li>

          <li>
            <i class="fa fa-pencil left"></i>
            <div class="left">Introduction to HTML5 and CSS</div>
          </li>
        </ul>
      </section>

    </div> <!-- wrapper -->

    
  </footer>
  
  <div class="copyright clear">
    Copyright &copy; 2012 Designer First. All Rights Reserved.
  </div>
  
  
</div> <!-- wrapper -->
