<div class="sep"></div>

<ul>
  <li><a href="#">About</a></li>
  <li><a href="#/works">Works</a></li>
</ul>

<div class="sep"></div>

<ul>
  <li><a href="#/blog">Blog</a></li>
</ul>

<div class="social">
  <ul>
    <li><a href="mailto:akeel@akeelnazir.com"><i class="fa fa-envelope"></i></a></li>
    <li><a target="_blank" href="http://github.com/akeelnazir"><i class="fa fa-github"></i> </a></li>
    <li><a target="_blank" href="http://twitter.com/akeelnazir"><i class="fa fa-twitter"></i></a></li>
  </ul>
</div> <!-- social -->
