<div class="container">
    <header>
      <img src="/assets/images/travler/traveler_logo_head.png" alt="">
      <h1 class="title">travler</h1>
      <br/>
      <div class="subtitle">
        Get the advice you need about travel
      </div>
      <div class="clear"></div>
      <div class="quicklinks">
        <ul>
          <li>
            <a>Quicklinks <i class="fa fa-map-marker"></i> </a>
          </li>
          <li>
            <a>Select from dropdown 
              <i class="fa fa-caret-down"></i> 
            </a>
          </li>
        </ul>
      </div>

      <div class="search-bar">
        <input type="text" placeholder="Search"/>
      </div>
    </header>

      <nav class="travler">
        <ul>
          <li>
            <a>
              <i class="fa fa-globe"></i><br/>Travel Guide
            </a>
          </li>
          <li class="active">
            <a>
              <i class="fa fa-plane"></i><br/>Services
            </a>
          </li>
          <li>
            <a>
              <i class="fa fa-certificate"></i><br/>About
            </a>
          </li>
          <li>
            <a>
              <i class="fa fa-briefcase"></i><br/>The Tour
            </a>
          </li>
          <li>
            <a>
              <i class="fa fa-question"></i><br/>How to
            </a>
          </li>
          <li>
            <a>
              <i class="fa fa-envelope"></i><br/>Contact
            </a>
          </li>
        </ul>
      </nav>

    <section id="slider"> 
    </section> <!-- slider section -->

    <section id="map"> 
      <h1>Anywhere, anytime, we are here to help.</h1>
      <h4>And we mean that.</h4>
      <img src="/assets/images/travler/map.png" alt="">
      <img src="/assets/images/travler/map-glyphs.png" alt="">

      <div class="features">
        <div>
          <h2>Save Time</h2>
          <p>
            Lets throw a trackie dacks also it'll be gutta. You little ripper avos flamin lets throw a lizard drinking. Gutful of jug where as busy as a big smoke.
          </p> 
        </div>

        <div>
          <h2>Win over the team</h2>
          <p>
            As cunning as a bonzer flamin as stands out like cubby house. As cross as a mate no dramas as cunning as a bonzer. Gutful of kindie flamin as cross as a grundies.
          </p>
        </div>
        <div>
          <h2>Design features</h2>
          <p>
            Built like a old fella no dramas grab us a ten clicks away. Lets get some digger when she'll be right metho. As cross as a no dramas as cunning as a barrack.
          </p>
        </div>
      </div>

    </section>
    <section id="screen"> 

      <div>
        <h2>A simple beginning leads to big ideas</h2>
        <h4>We started small but grew quickly</h4>
      </div>

    </section>

    <section id="team"> 
      <div class="caption">
        <h2>A humble Team we are</h2>
        <h4>Well some of us anyways</h4>
      </div>

      <div class="photo">
        <img src="/assets/images/travler/josh_jansen.png" alt="">
        <div class="name">Josh Jansen</div>
        <div class="title">Digital Producer</div>
      </div>
      <div class="photo">
        <img src="/assets/images/travler/blaz_robar.png" alt="">
        <div class="name">Blaz Robar</div>
        <div class="title">Designer</div>
      </div>
      <div class="photo">
        <img src="/assets/images/travler/james_brown.png" alt="">
        <div class="name">James Brown</div>
        <div class="title">Developer</div>
      </div>
      <div class="photo">
        <img src="/assets/images/travler/skeletor.png" alt="">
        <div class="name">Skeletor</div>
        <div class="title">Administrator</div>
      </div>

      <div class="slider-index">
        <img src="/assets/images/travler/slider_index.png" alt="">
      </div>

    </section>

    <section id="text-box"> 
      <article class="left">
        <h3>Winning Design Awards</h3>
        <h5>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eu turpis purus. Pellentesque ullamcorper mauris vitae sapien bibendum tincidunt. Check leo dignissim + 
        </h5>
        <p>
          Morbi malesuada mauris sed nibh placerat sit amet posuere libero egestas. Vestibulum consectetur iaculis est, at dapibus purus malesuada vitae. Mauris sollicitudin aliquam scelerisque. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec et mi sem. Duis tristique elementum tristique. Sed ac magna quis erat sagittis suscipit. Phasellus faucibus rhoncus massa, non laoreet lorem fringilla non.

          Mauris sollicitudin aliquam scelerisque. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec et mi sem. Duis tristique elementum tristique. Sed ac magna quis erat sagittis suscipit. Phasellus faucibus rhoncus massa, non laoreet lorem fringilla non. 
        </p>
      </article>

      <article class="left">
        <h3>Badass Features</h3>
        <h5>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eu turpis purus. Pellentesque ullamcorper mauris vitae sapien bibendum tincidunt. Check leo dignissim + 
        </h5>

        <p>
          Morbi malesuada mauris sed nibh placerat sit amet posuere libero egestas. Vestibulum consectetur iaculis est, at dapibus purus malesuada vitae. Mauris sollicitudin aliquam scelerisque. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec et mi sem. Duis tristique elementum tristique. Sed ac magna quis erat sagittis suscipit. Phasellus faucibus rhoncus massa, non laoreet lorem fringilla non.
           
          Mauris sollicitudin aliquam scelerisque. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec et mi sem. Duis tristique elementum tristique. Sed ac magna quis erat sagittis suscipit. Phasellus faucibus rhoncus massa, non laoreet lorem fringilla non.
        </p> 
      </article>
      
      <article class="full">
        <h3>A full col text box sits nicely like this</h3>
        <h5>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eu turpis purus. Pellentesque ullamcorper mauris vitae sapien bibendum tincidunt. Check leo dignissim + 
        </h5>

        <p>
          Morbi malesuada mauris sed nibh placerat sit amet posuere libero egestas. Vestibulum consectetur iaculis est, at dapibus purus malesuada vitae. Mauris sollicitudin aliquam scelerisque. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec et mi sem. Duis tristique elementum tristique. Sed ac magna quis erat sagittis suscipit. Phasellus faucibus rhoncus massa, non laoreet lorem fringilla non.
        </p>

        <p>
          Mauris sollicitudin aliquam scelerisque. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec et mi sem. Duis tristique elementum tristique. Sed ac magna quis erat sagittis suscipit. Phasellus faucibus rhoncus massa, non laoreet lorem fringilla non.
        </p>
      </article>

    </section>
    <footer> 
      <div class="wrapper">
        <div class="left logo">
          <img src="/assets/images/travler/travler_logo_white.png" alt="">
          <h1 class="title">travler</h1>
          <br/>
          <div class="subtitle">Get the advice you need about travel</div>
        </div>

        <div class="nav right">
          <ul class="quicklinks">
            <li><a>Portfolio</a></li>
            <li><a>Services</a></li>
            <li><a>Staff</a></li>
            <li><a>Articles</a></li>
            <li><a>Contact</a></li>
          </ul>
          <ul class="social">
            <li>
              <a>
                <i class="fa fa-twitter"></i> Twitter
              </a>
            </li>
            <li>
              <a>
                <i class="fa fa-facebook"></i> Facebook
              </a>
            </li>
            <li>
              <a>
                <i class="fa fa-rss"></i> RSS
              </a>
            </li>
            <li>
              <a>
                <i class="fa fa-envelope"></i> Mail
              </a>
            </li>
          </ul>
        </div>

        <div class="clear left copyright">
          As cross as a hoon my built like a op shop. We're going bored sh*tless heaps she'll be right budgie smugglers.
        </div>

      </div>
    </footer>
  </div>