<div class="fixed-{{state.fixed}}" id='about' ng-click="state.fixed = false">

  <section class="about">

    <article class="contracting">
      <div class="caption-wrap grey">
        <p>
          As an experienced front-end developer I use AngularJS, BackboneJS, MeteorJS, ReactJS and D3 in my work. I have worked for companies like Honda, General Electric, Microsoft, Three, BBC, BMC, CSC, and BP. Here is how it all started.
        </p>
      </div>
    </article>

    <article class="kashmir">
      <div class="caption-wrap blue">
        <p>
          Late nineties: Just after finishing University, I started my IT career as a freelance web developer in the beautiful Kashmir valley. My first project was to describe the beauty of Kashmir for a travel website and I was hooked on to this new medium. I did several websites for Travel and Leisure industry.
        </p>
      </div>
    </article> 

    <article class="bangalore">
      <div class="caption-wrap grey">
        <p>
          Year 2000: I taught HTML, Java and C++ at a small coding academy in Bangalore, India's very own Silicon Valley.
        </p>
      </div>
    </article>

    <article class="hyderabad">
      <div class="caption-wrap blue">
        <p>
          The same year, I got my first corporate job at iProcess, a GE Capital company based in Hyderabad. I did several side projects using ASP and JavaScript.
        </p>
      </div>
    </article>

    <article class="leeds">
      <div class="caption-wrap grey">
        <p>
          2001 - 2003: I worked as scripting expert for a GE Capital company in Leeds, where my main role was to automate desktop and server management using Microsoft SMS and Marimba. I applied GE Capital branding to the Marimba web-frontend using HTML and CSS.
        </p>
      </div>
    </article>

    <article class="server-room">
      <div class="caption-wrap blue">
        <p>
          2003: I implemented Marimba Server Management product for a large telco. Marimba used a subset of JavaScript for automation scripts. My JavaScript skills got better each day. I also wrote a custom dashboard and reporting type application in HTML/JSP to help in application lifecycle management.
        </p>
      </div>
    </article>

    <article class="java">
      <div class="caption-wrap grey">
        <p>
          2007 - 2010: I worked as integrations expert and used Java API libraries to integrate enterprise software with alerting systems like HP TeMIP, and SOAP/Web-services to integrate Identity Management solutions with other enterprise software.
        </p>
      </div>
    </article>

    <article class="cloud">
      <div class="caption-wrap blue">
        <p>
          2010 - 2012: I worked on cloud based enterprise software solutions and content management systems. I used jQuery, JavaScript, HTML and CSS to create web-based Service Catalog solutions for large companies.
        </p>
      </div>
    </article>

    <article class="current">
      <div class="caption-wrap grey">
        <p>
          As a certified ITIL Expert I see a gap in the ITSM market for a good Incident Management software that would delight its primary users, the Service Desk. With that in mind, I am writing my own web application using MeteorJS and D3. It is available for preview at <a href="http://demo.p-incident.com">www.p-incident.com</a>. I also work as a front-end developer and use hand-coded JavaScript, frameworks and libraries for writing modern responsive web apps.
        </p>
      </div>
    </article>

  </section>
