@import "variables";

section.cigna {
    
    font-size: $font-size-base;
    line-height: 1.5em;
    font-family: Arial, sans-serif;
    color: $font-color;
    -webkit-font-smoothing: antialiased;

    h1, .h1 { font-size: 2em;       /* 2*16 = 32 */          }
    h2, .h2 { font-size: 1.5em;     /* 1.5*16 = 24 */        }
    h3, .h3 { font-size: 1.17em;    /* 1.17*16 = 18.72 */    }
    h4, .h4 { font-size: 1em;       /* 1*16 = 16 */          }
    h5, .h5 { font-size: 0.83em;    /* 0.83*16 = 13.28 */    }
    h6, .h6 { font-size: 0.75em;    /* 0.75*16 = 12 */       }

    p { line-height: 1.5 }
    .lh1em {line-height: 1}

    a, a:visited { 
        text-decoration: none;

        &:hover {
            text-decoration: none;
        }
    }

    h1, h2, h3, h4, h5, h6
    .h1, .h2, .h3, .h4, .h5, .h6 {

        & > .mega, &.mega {
            font-size: 800% !important;
        }

        & > .huge, &.huge {
            font-size: 500% !important;
        }
        
        & > .jumbo, &.jumbo {
            font-size: 300% !important;
        }
        
        & > .large, &.large {
            font-size: 150%;
        }

        & > .medium, &.medium {
            font-size: 85%;
            font-weight: normal;
        } 
        
        & > .smaller, &.smaller {
            font-size: 65%;
            font-weight: normal;
        }

        & > .tiny, &.tiny {
            font-size: 42.5%;
            font-weight: normal;
        }
    }

    .priceText {
        font-size: 2em;
    }
}