div#about {
  position: relative;
  font-size: 1.5em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.75s;
  -moz-transition: all 0.75s;
  -ms-transition: all 0.75s;
  transition: all 0.75s;
}
div#about.fixed-true {
  margin-left: 250px;
}
div#about article {
  height: 780px;
  position: relative;
}
div#about article.kashmir {
  background: #fff url("/assets/images/about/kashmir.jpg") center center no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
div#about article.bangalore {
  background: #0fe9bd;
}
div#about article.bangalore .caption-wrap p {
  color: #fff;
}
div#about article.hyderabad {
  background: #d3d3d3 url("/assets/images/about/hyderabad.jpg") center center no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
div#about article.leeds,
div#about article.contracting,
div#about article.java,
div#about article.current {
  background: #0fe9bd;
}
div#about article.server-room {
  background: #d3d3d3 url("/assets/images/about/server-room.jpg") center center no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
div#about article.cloud {
  background: #d3d3d3 url("/assets/images/about/clouds-2.jpg") center center no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
div#about article.frameworks {
  background: #757575;
  background-attachment: fixed;
  background-size: cover;
  background-position: 50% 50%;
}
div#about article .caption-wrap {
  position: absolute;
  bottom: 40%;
  right: 0;
  left: 0;
  width: 75%;
  padding: 0.5em 2em;
  margin: auto;
}
div#about article .caption-wrap.grey {
  background: rgba(99,99,99,0.2);
}
div#about article .caption-wrap.blue {
  background: rgba(15,233,189,0.5);
}
div#about article .caption-wrap p {
  font-size: 1.25em;
  text-align: justify;
  color: #f5f5f5;
}
