ul.gallery li.image {
  position: relative;
}
ul.gallery li.image img {
  max-height: 300px;
}
ul.gallery li.image div.bottom-panel {
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 100%;
  text-align: center;
  background: rgba(255,255,255,0.75);
  padding: 0.75em 0;
}
ul.gallery li.image div.bottom-panel i.fa {
  font-size: 2.5em;
}
ul.gallery li.image div.bottom-panel span.caption {
  display: inline-block;
  width: 85%;
  font-size: 1.5em;
}
