div#posts {
  position: relative;
  font-size: 1.5em;
  padding: 3em 10em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.75s;
  -moz-transition: all 0.75s;
  -ms-transition: all 0.75s;
  transition: all 0.75s;
}
div#posts.fixed-true {
  padding: 3em 8em;
  margin-left: 250px;
}
div#posts .post {
  position: relative;
}
div#posts .post pre {
  white-space: pre-wrap;
}
div#posts .post h2 {
  font-size: 1.7em;
  font-weight: bold;
  color: #000;
  margin-bottom: 0;
}
div#posts .post aside.date-stamp {
  font-size: 0.85em;
  font-style: italic;
  color: #778090;
}
div#posts .post aside.date-stamp i.fa-calendar-o {
  font-size: 1.25em;
  margin-right: 0.5em;
}
div#posts .post section.contents {
  clear: both;
  color: #778090;
}
div#posts .post section.contents p {
  line-height: 1.75em;
}
div#posts .post section.contents section.code {
  margin-bottom: 1em;
}
div#posts .post section.contents section.code header {
  padding: 10px 0px 5px 20px;
  background-color: #d3d3d3;
  font-weight: bold;
  color: #000;
  border: 1px solid #d3d3d3;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
div#posts .post section.contents section.code pre.prettyprint {
  margin: 0;
  padding: 0.5em 0 0.5em 1.5em;
  height: 17em;
  overflow: auto;
  font-size: 0.85em;
  border: 1px solid #000;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #000;
  color: #c0c0c0;
}
div#posts .post section.contents h4 {
  margin-top: 1em;
  padding-top: 0.5em;
  font-size: 0.85em;
  text-transform: uppercase;
}
div#posts .post section.contents li {
  list-style: square;
}
