html.lt-ie9 div.png-icon
  display block
  position fixed
  left 62px
  top 30px
  width auto
  height auto
  z-index 999999

  &.fixed-true
    position fixed
    left 62px
    top 30px
    width auto
    height auto
    z-index 999999

  &.fixed-false
    position: fixed
    left 0
    top 0

.png-icon
  display none
  
.svg-icon
  width auto
  height auto
  -webkit-transition all 0.5s
  transition all 0.5s
  z-index 999999

  &.fixed-true
    position fixed
    left 62px
    top 30px
    width auto
    height auto

  &.fixed-false
    position: fixed
    left 0
    top 0
    -webkit-transform scale(.75)

  svg

    &:hover
      -webkit-transform rotate(360deg)
      transition 1s -webkit-transform
    circle
      fill #0fe9bd
      -webkit-transition fill 0.6s ease-out
      -moz-transition fill 0.6s ease-out
      -o-transition fill 0.6s ease-out
      -ms-transition fill 0.6s ease-out
      transition fill 0.6s ease-out

    line
      stroke #757575
      stroke-width 2
      -webkit-transition stroke 0.6s ease-out
      -moz-transition stroke 0.6s ease-out
      -o-transition stroke 0.6s ease-out
      -ms-transition stroke 0.6s ease-out
      transition stroke 0.6s ease-out

    &:hover
      circle
        fill #757575
        -webkit-transition fill 0.6s ease-out
        -moz-transition fill 0.6s ease-out
        -o-transition fill 0.6s ease-out
        -ms-transition fill 0.6s ease-out
        transition fill 0.6s ease-out

      line
        stroke #0fe9bd
        -webkit-transition stroke 0.6s ease-out
        -moz-transition stroke 0.6s ease-out
        -o-transition stroke 0.6s ease-out
        -ms-transition stroke 0.6s ease-out
        transition stroke 0.6s ease-out
