
<div id="collapsible-panels" class="row visible-xs visible-sm">
    <div class="col-xs-12">
        <accordion close-others="false">

            <accordion-group class="accordion-your-trip your-trip-panel">
                <accordion-heading>
                    <span class="uppercase"> Your Trip</span> 
                    <i class="pull-right fa" ng-class="{'fa-chevron-up': status.open, 'fa-chevron-down': !status.open}"></i>
                </accordion-heading>

                <div class="row">
                	<div class="col-xs-12">
					    <h4>Quote Ref</h4>
						<span class="bold" ng-bind="userData.quoteDetails.quoteRef"></span>

						<h4>Policy Price</h4>
						<span class="bold" ng-bind="userData.quotePrice | currency : '£'"></span>

						<h4>Destination</h4>
						<div class="bold" ng-bind="userData.regionDescription"></div>
						<div class="italic" ng-show="userData.showVisitingCountries" ng-cloak>
						    {{userData.tripData.toxicDesc}}
						</div>

						<h4>Policy Dates</h4>
						<span ng-bind="userData.policyDates"></span>

						<h4>Policy Type</h4>
						<span ng-bind="userData.productName"></span>
					</div>
                </div>

            </accordion-group>

            <accordion-group class="accordion-your-quote your-quote-panel">
                <accordion-heading>
                    <span class="uppercase"> Your Quote</span> 
                    <i class="pull-right fa" ng-class="{'fa-chevron-up': isOpen, 'fa-chevron-down': !isOpen}"></i>
                </accordion-heading>

                <div class="row">
                    <div class="col-xs-12">
					    <h4 class="uppercase">Tailored Cover</h4>    
					</div>

					<div class="col-xs-12">
					    <table class="table compressed">
					        
					        <tbody>
					            <tr rel='accordion' ng-repeat="cover in userData.tailoredCovers">
					                <td class="">
					                    <span class="italic" ng-bind="cover.coverDesc"></span>
					                </td>
					                <td>
					                    <span class="bold" ng-bind-html="cover.coverLimit"></span> 
					                </td>
					            </tr>
					            
					        </tbody>
					    </table>
					</div>
                </div> <!-- /.row -->

            </accordion-group>

            <accordion-group class="accordion-your-details your-details-panel" ng-show="viewName === appViewsNames.CONFIRM_AND_PAY && userData.selection.address">
                <accordion-heading>
                    <span class="uppercase">Your Details</span> 
                    <i class="pull-right fa" ng-class="{'fa-chevron-up': isOpen, 'fa-chevron-down': !isOpen}"></i>
                </accordion-heading>

                <div class="row">
                	<div class="col-xs-12">
                    	<h4 class="uppercase">People Travelling</h4>

					    <ul class="no-bullets">
				    		<li rel='accordion' ng-repeat="party in userData.partiesDetails" >
					        	{{party.title}} {{party.firstName}} {{party.lastName}}
					        </li>
				    	</ul>
						
						<h4 class="uppercase">Contact Details</h4>
				    	
				    	<p>
				    		{{ userData.selection.mobile || userData.selection.landline }}
				    	</p>

				    	<p class="mt1em"><span>{{userData.selection.email}}</span></p>

				    	<ul class="contact-address no-bullets mt1em">
				    		<li >{{userData.selection.address.address_line1}}</li>
				    		<li >{{userData.selection.address.address_line2}}</li>
				    		<li >{{userData.selection.address.town}}</li>
				    		<li >{{userData.selection.address.postcode}}</li>
				    	</ul>
				    	
				    </div>
                </div> <!-- /.row -->

            </accordion-group>
        </accordion>
    </div>
</div>


