<div class="col-xs-12">
    <div class="sidebar-panel key-features">
        <div class="panel-heading">
            <h3 class="bold uppercase text-center">Key Features</h3>
        </div>

        <div class="panel-body">
            <ul class="list-unstyled">
                <li>
                    <div class="pull-left">
                        <i class="fa fa-chevron-right bold"></i>
                    </div>
                    <div class="bold ml2em">Simple, quick process</div>
                </li>
                <li>
                    <div class="pull-left">
                        <i class="fa fa-chevron-right bold"></i>
                    </div>
                    <div class="bold ml2em">Unlimited medical cover</div>
                </li>
                <li>
                    <div class="pull-left">
                        <i class="fa fa-chevron-right bold"></i>
                    </div> 
                    <div class="bold ml2em">We'll fly out a family member and UK doctors &amp; nurses if needed</div>
                </li>
                <li>
                    <div class="pull-left">
                        <i class="fa fa-chevron-right bold"></i>
                    </div>
                    <div class="bold ml2em">24/7 Medical Assistance</div>
                </li>
                <li>
                    <div class="pull-left">
                        <i class="fa fa-chevron-right bold"></i>
                    </div>
                    <div class="bold ml2em">We cover all ages</div>
                </li>
            </ul>
        </div>
        
    </div> <!-- /.sidebar-panel -->
</div>