<div class="col-xs-12">
    <div class="sidebar-panel why-cigna">
        <div class="panel-heading">
            <h3 class="bold uppercase text-center"><span class="no-bold">Why</span> CIGNA?</h3>
        </div>

        <div class="panel-body">
            <ul class="list-unstyled">
                <li>
                    <div class="pull-left">
                        <i class="fa fa-chevron-right bold"></i>
                    </div>
                    <div class="bold ml2em">One of the world's largest insurance providers</div>
                </li>
                <li>
                    <div class="pull-left">
                        <i class="fa fa-chevron-right bold"></i>
                    </div>
                    <div class="bold ml2em">Over 300 years of experience in insurance</div>
                </li>
                <li>
                    <div class="pull-left">
                        <i class="fa fa-chevron-right bold"></i>
                    </div> 
                    <div class="bold ml2em">Selling travel insurance in UK for over 30 years</div>
                </li>
                <li>
                    <div class="pull-left">
                        <i class="fa fa-chevron-right bold"></i>
                    </div>
                    <div class="bold ml2em">Over 80 million customers worldwide</div>
                </li>
                <li>
                    <div class="pull-left">
                        <i class="fa fa-chevron-right bold"></i>
                    </div>
                    <div class="bold ml2em">Sales in over 30 countries</div>
                </li>
            </ul>

            <div class="center-block text-center mt2em">
                <img src="/assets/images/cigna/header-icon.png" alt="" width="150px">
            </div>
        </div>
    </div> <!-- /.sidebar-panel -->
</div>