section.travler
  font-size 12pt
  line-height 16pt
  background #eeeeee

  div.clear
    clear both

  .left
    float left

  .right
    float right

  i.sprite
    background url('assets/images/travler/sprites.png') no-repeat -1px -1px
    height 32px
    width 27px
    position absolute
    top 25px
    left 67px

  i.sprite.plane
    background-position -37px 0px

  i.sprite.globe
    background-position -111px 0px

  i.sprite.doc
    background-position -62px 0px

  i.sprite.map
    background-position -86px 0px
    width 25px

  header
    padding-top 40px
    width 960px
    margin 0 auto
    position relative
    margin-bottom 20px

    img
      float left
      display block
      margin 10px

    h1
      color #8038c2
      float left
      margin-bottom 0
      margin-top .5em
      font-family "Arial Black", Arial
      font-size 2.25em

    div.subtitle
      font-style italic
      margin-top 22px
      font-size .80em
      color #707070

    div.quicklinks
      position absolute
      top 60px
      right 200px

      ul
        list-style-type: none;
        padding 0
        margin 0

        li
          display block
          float left
          padding 0 30px 0 20px
          font-size .80em

          a
            text-decoration none
            font-weight bold
            color #c7c7c7

            i
              margin-left 5px
              font-size 1.5em

          a:hover
            color #8038c2

        li:first-child
          border-right 1px solid #c7c7c7

    div.search-bar
      position absolute
      top 49px
      right 0

      input
        height 36px
        padding-left .5em

  nav
    width 960px
    margin 0 auto
    margin-bottom -14px

    ul
      list-style-type: none;
      padding 0
      margin 0

      li
        display inline-block
        width 159px
        height 108px
        vertical-align middle
        position relative
        box-shadow inset 0px -4px 0px #8038c2
        border-right 1px solid #d4d4d4
        background linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%)

        a
          color #707070
          font-weight bold
          text-align center
          position absolute
          top 0
          left 0
          right 0
          bottom 0
          margin auto auto
          padding-top 25%
          text-decoration none

          i
            font-size 1.5em

        a:hover
          color #8038c2
        
      li:not(:first-child)
        margin-left -4px

      li:last-child
        border-right none

      li.active
        height 120px
        margin-top -12px
        box-shadow inset 0px -12px 0px #8038c2

        a
          color #8038c2

  section#slider
    background url('/assets/images/travler/slider_bg.jpg') 50% 50% no-repeat
    background-size cover
    height 530px


  section#map
    background #2d2d2d
    padding 1.5em 0

    h1, h4
      text-align center
      margin-bottom 0px
      letter-spacing 0.06em
      word-spacing 0.02em
      font-family "Century Gothic"

    h1
      color white
      font-weight normal
      font-size 2em

    h4
      margin .75em 0
      color #8038c2

    img
      display block
      margin 0 auto

    div.features
      width 960px
      margin 0 auto
      clear both
      overflow hidden
      margin-top 1.5em

      div
        float left
        width 32%
        margin-right 15px

        h2
          color whitesmoke
          text-align center
          font-weight normal

        p
          color whitesmoke

      div:last-child
        margin-right 0

  section#screen
    background url('/assets/images/travler/screen.jpg') center center no-repeat
    height 500px
    position relative
    background-size cover

    div
      width 960px
      margin 0 auto
      position: absolute
      top 300px
      left 0
      right 0
      bottom 0

      h2, h4
        color whitesmoke
        text-align center
        font-family "Century Gothic"
        margin .5em

      h2
        font-weight normal
        font-size 2em

      h4
        color #8038c2

  section#team
    width 960px
    height 400px
    padding 40px 0
    margin 0 auto

    div.caption
      margin-bottom 40px

      h2, h4
        text-align center
        margin .5em
        color #a7a7a7
        font-family "Century Gothic"

      h2
        font-weight normal
        font-size 2em
        color #707070
    
    div.photo
      float left
      margin-right 8px

      .name
        margin-left 5px
        font-weight bold
        font-size 1em
        color #707070

      .title
        margin-left 5px
        font-size .75em
        color #a7a7a7

    div.photo:last-child:after
      clear left

    div.slider-index
      clear both
      padding-top 0
      width 60px
      height 20px
      margin 0 auto
      margin-top 20px

  section#text-box
    width 960px
    padding 40px 0
    margin 0 auto
    margin-top 40px

    article
      width 49.2%
      padding 40px 40px 60px
      background #fff
      font-family "Century Gothic"
      margin-bottom 15px
      box-sizing border-box
      position relative

      h3
        font-size 2em
        font-weight normal

      h5
        color #8038c2
        line-height 2em

      p
        font-size .75em
        color #a7a7a7

    article.left:after
        content '+'
        text-align center
        padding 5px
        display block
        width 30px
        height 30px
        background #8038c2
        color #fff
        position absolute
        top 0
        left 0
        z-index 100
        box-sizing border-box

    article.left:first-child
      margin-right 15px

    article.left:last-child:after
      content ''
      display block
      clear both

    article.full
      clear both
      width 100%

  footer
    background #373737
    padding 40px 0

    .wrapper
      width 960px
      margin 0 auto
      height 200px

      div.logo
        width 20em

        img
          float left
          display block
          margin 10px

        h1
          color #fff
          float left
          margin-bottom 0
          margin-top .5em
          font-family "Arial Black", Arial
          font-size 2.25em

        div.subtitle
          font-style italic
          margin-top 22px
          font-size .70em
          color #fff

      div.nav
        margin-bottom 2em
        ul
          list-style-type: none
          color #fff
          
          li
            display block
            float left
            font-size .75em
            width 7em
            text-align center
            line-height 1em

          a
            text-decoration none
            color white

        ul.quicklinks
          margin-bottom 6em

          li
            border-right 1px solid #a7a7a7
            
            a
              padding-bottom 1em

            a:hover
              border-bottom 4px solid #8038c2

          li:last-child 
            border-right none

        ul.social
          a i 
            margin-right 3px

      div.copyright
        font-size .75em
        color #a7a7a7
        font-style italic

